body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Yeseva One', cursive;
}
.first-section{    
    display: flex;
    padding-top: 75px;
}
.header-text-section{
    width: 60%;
    padding-left: 115px;    
}
.header-image-section{
    width: 40%;
}
.header-image-section img{
    width: 80%;
}
.header-text h1{
    font-family: 'Yeseva One';
    font-size: 60px;
    color: black;
    line-height: 80px;
    margin: 54px 0 15px 0;
}
.header-text-color{
    color: #225CD1;
}
.header-text-section p{
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    padding: 15px 0 15px 0;
}
.button{
    text-decoration: none;
    padding: 12px;
    background-color: #5e7bb9;
    border-radius: 5px;
    color: white;
}
.header-text{
    border-left: solid 4px;
    border-color: #FF5959;
    padding-left: 22px;
}